.form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: rgb(32, 32, 32);
  border-radius: 8px;
  padding: 8px;
  width: 100%;
  max-width: 400px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.header {
  display: flex;
  align-items: center;
  padding: 20px;
}

.icon {
  background: none;
  border: none;
  cursor: pointer;
  color: gray;
  font-size: 16px;
  padding: 4px;
}

.input {
  border: none;
  outline: none;
  font-size: 16px;
  flex: 1;
  background: transparent;
}
